* {
    margin: 0;
    padding: 0 ;
    font-family: 'popins',sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    background-color: #1f242d;
}
/*header part*/
.nav{
    height: 50px;
}
h3{
    color:white;
}
h3:hover{
    border: 1px solid white;
}
h3:hover::first-letter{
    color: red;
}
.nav-h3{
    display: flex;
    text-align: center;
    justify-content:right;
}
.nav-h3 a{
    margin: 0px 96px 5px -71px;
    padding: 20px 1rem;
}
/*main part*/
.main-port{
    height: 400px;
    width: 45%;
    background-color:#1f152d ;
    border-radius: 20px;
    margin: 70px auto;
    border: 2px solid aqua;
    box-shadow: 0px 0px 20px 3dvb aqua;
}
.h1-port{
    color: white;
    text-align: center;
    margin: 150px auto;
    font-size: 50px;
    background-color:#1f152d ;
}
.h1-port::first-letter{
    color:red;
}
.h1-port:hover{
    text-shadow:0px 0px 10px aqua;
}
